.card1 {
    width: 500px;
    height: 80px;
    /* padding: 6vh; */
    padding-top: 7px !important;
    background-color: goldenrod;
    border: none;
    border-radius: 0%;
    margin-bottom: 5%;
    padding-top: 10%;
    display: block;
    border-right: 5%;
    align-items: center;
    box-shadow: 0 0 15px #dae0e5
  }

  #navbar {
    width: 75%;
    padding-left: 10rem;
  
    text-align: center;
  }
  