<div class="container mt-5">
        <div class="row align-items-center">
            <div class="row card1">
                <div>
                    <div class="card-content">
                        <h2 class="card-title ">
                            6th standard
                        </h2>
                        <p class="">
                            Details of Sixth standard Staffs
                        </p>
                    </div>
                </div>
            </div>
            <div class="row card1">
                <div>
                    <div class="card-content">
                        <h2 class="card-title ">
                            7th standard
                        </h2>
                        <p class="">
                            Details of Seventh standard Staffs
                        </p>
                    </div>
                </div>
            </div>
            <div class="row card1">
                <div>
                    <div class="card-content">
                        <h2 class="card-title ">
                            8th standard
                        </h2>
                        <p class="">
                            Details of Eigth standard Staffs
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>